{% extends 'base.html' %}

{% block title %}个人资料{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}


{% block content %}
<div class="containter">
    <div class="row">
        <div class="col-md-2 col-md-offset-1"> {% if user.is_authenticated %}
            <h2>{{ user.username }}</h2>
            <h5> {% if user.get_level >= 4000 %}LV.6 full/full
                {% elif user.get_level >= 2500 %}LV.5 {{user.get_level}}/4000
                {% elif user.get_level >= 1500 %}LV.4 {{user.get_level}}/2500                   
                {% elif user.get_level >= 800 %}LV.3 {{user.get_level}}/1500                           
                {% elif user.get_level >= 300 %}LV.2 {{user.get_level}}/800 
                {% elif user.get_level > 0 %}LV.1 {{user.get_level}}/300
                {% else %}LV.0
                {% endif %} </h5>
            <ul>
                <li>昵称：{{ user.get_nickname }} <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></li>
                <li>邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定 <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>{% endif %}</li>
                <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                <li><a href="{% url 'change_password' %}">修改密码</a></li>
            </ul>
        </div>
        <div class="col-md-7">
			<div style="height: 30px">
			</div>
            <div class="panel panel-default">
                <div class="panel-heading">{% block blog_list_title %}我的帖子{% endblock %}</div>
                <div class="panel-body"> {% for blog in page_of_blogs %}
                    <div class="blog">
                        <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                        <p class="blog-info"> <span class="glyphicon glyphicon-tag"></span> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> {{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                            阅读({{ blog.get_read_num }})&nbsp;&nbsp;
                            评论({% get_comment_count blog %})&nbsp;&nbsp;
                            点赞({% get_like_count blog %}) </p>
                        <p>{{ blog.content|striptags|truncatechars_html:120 }}</p>
                    </div>
                    {% empty %}
                    <div class="blog">
                        <h3>暂无帖子，敬请期待</h3>
                    </div>
                    {% endfor %} </div>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;"> {% if page_of_blogs.has_previous %} <a class="btn btn-default"
                           href="{% url 'user_info' %}?page={{ page_of_blogs.previous_page_number }}"> 上一页 </a> {% endif %}
            
            {% if page_of_blogs.has_next %} <a class="btn btn-default"
                           href="{% url 'user_info' %}?page={{ page_of_blogs.next_page_number }}"> 下一页 </a> {% endif %} </div>
        {% else %} <span>未登录，跳转到首页...</span> 
        <script type="text/javascript">
                        window.location.href = '/';
                    </script> 
        {% endif %} </div>
</div>
{% endblock %}