* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 70px!important;
}
ul {
    list-style-type: none!important; 
}
ul.navbar-right {
    margin-right: 0;
}
.search-form button[type="submit"] {
    background: none;
    border: none;
    margin-left: -3em;
    color: #aaa;
}

.login_register_background {
	height: 100%;
	background-image: url(bg_bright_canyon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.login_rec {
	position: absolute;
	top: 30%;
}

.register_rec {
	position: absolute;
	top: 20%;
}

.navbar_customize {
	height: 70px;
	background-color: rgb(227,200,172);
}

.a_div {
	width: 100%;
	height: 20px;
}

.container-fluid_customize {
	position: relative;
}

.navbar-header_logo {
	position: absolute;
	left: 30px;
}

.navbar-header_customize {
	position: absolute;
	left: 110px;
	padding-top: 10px;
	font-size: 35px;
	font-weight: bold;
	font-family: Courier New;
}

.navbar_left_customize {
	position: absolute;
	left: 330px;
	top: 10px;
	font-family: Microsoft JhengHei;
	font-size: 15px;
}

.navbar_right_customize {
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: Microsoft JhengHei;
	font-size: 15px;
}

.a_website_title_customize {
	text-decoration: none;
	color: navajowhite;
}

.a_website_title_customize:hover {
	text-decoration: none;
	color: moccasin;
}

.a_block_title_customize {
	color: black;
}

.a_block_title_customize:hover {
	color: black;
}

.form_rec {
	position: absolute;
	top: 30%;
}

.about_title_rec {
	height: 30px;
	background-color: cornsilk;
	font-size: 18px;
	padding-top: 3px;
}

.about_content_rec {
	height: 500px;
	background-color: cornsilk;
	font-family: Microsoft JhengHei;
	font-size: 15px;
	display: none;
}

.about_title_rec:hover .about_content_rec{
	display: block;
}